<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
<uses-permission android:name="QUERY_ALL_PACKAGES" />
<uses-permission android:name="MANAGE_EXTERNAL_STORAGE" />
<uses-permission android:name="READ_EXTERNAL_STORAGE" />
<uses-permission android:name="WRITE_EXTERNAL_STORAGE" />

</manifest>
